@font-face {
  font-family: 'BarFont';
  src: url('./component/BarFont.ttf') format('truetype');
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden; 
}

.menu {
    width: 600px;
    height: 600px;
    background-image: url('./component/menu-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; 
    gap: 20px;
    align-items: start;
    font-family: 'BarFont', sans-serif;
    color: #633f33;
}

.menu-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0; 
}

.order-desc {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
 }
.menu h1 {
    padding-top: 20px;
    grid-column: span 2;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 10px; 
}
.menu-contact {
    font-size: 22px;
    text-align: center;
    grid-column: span 2; 
    justify-self: center; 
    
}
.p-bold {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.p-underline {
    text-decoration: underline;
    padding-bottom: 5px;
}
.order-name {
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}